* {
  margin: 0px;
  padding: 0px;
}

html, body {
  overflow-x: hidden;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-family: 'Noto Serif', serif;
  font-size: 46px;
  line-height: 1.7;
  text-transform: uppercase;
  letter-spacing: 3px;
}

p {
  line-height: 1.9;
  font-family: 'Lucida Sans', 'Lucida Sans Regular';
  font-size: 15px;
}

h4 {
  font-size: 12x;
  line-height: 1.6;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: lowercase;
  font-weight: normal;
}

.border {
  padding: 10px;
  margin: 8px;
  width: 360px;
  height: 30px;
  font-size: 15px;
  border-radius: 4px;
  border: rgba(0, 0, 0, 0.452) 0.2px solid;
}

.header {
  width: 100%;
  height: 500px;
  background-image: url("kg.jpg");
  background-size: cover;
  background-position: center;
}

#contact {
  margin-bottom: 0px;
  margin-right: 0px;
  padding-top: 40px;
  padding-left: 75px;
  padding-bottom: 38px;
  width: 685px;
  height: 670px;
  border: none;
  background-color: #cbaf87fd;
  border: rgba(73, 59, 40, 0.555) solid 0.1px;
}

.img {
  text-align: center;
  text-transform: uppercase;
  padding-top: 140px;
  height: 608px;
  width: 760px;
  position: absolute;
  left: 760px;
  top: 500px;
  background-color: #f6d6ade1;
  border: rgba(73, 59, 40, 0.507) solid 0.1px;
}

.msg {
  padding: 11px;
  width: 358px;
  height: 70px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  border: rgba(0, 0, 0, 0.452) 0.2px solid;
  border-radius: 4px;
  margin: 8px;
}

.button {
  margin: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 3px;
  width: 200px;
  height: 50px;
  border: rgba(0, 0, 0, 0.452) 0.5px solid;
  cursor: pointer;
  border-radius: 4px;
  color: black;
}

.button:hover {
  font-size: 24px;
  color: brown;
  background-color: #c5c2c2;
  border: black solid 0.4px;
}

.nav {
  width: 100%;
  line-height: 9vh;
  height: 9vh;
  background-color: #f5b78dd2;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul {
  float: right;
  margin-right: 90px;
}

ul li {
  list-style-type: none;
  display: inline-block;
  transition: 0.9s all;
}

li a {
  text-decoration: none;
  text-decoration: none;
  color: rgb(221, 52, 52);
  font-size: 22px;
  font-weight: bold;
  padding: 19px;
  margin: 0px;
  text-transform: uppercase;
}

ul li a:hover, .active a {
  color: brown;
  background-color: rgba(222, 184, 135, 0.795);
}

/* footer */
.fa {
  margin-right: 3px;
  padding: 10px;
  font-size: 15px;
  width: 14px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  border: solid 1.8px black;
  justify-items: left;
}

.fa-facebook {
  background: black;
  color: white;
}

.fa-twitter {
  background: black;
  color: white;
}

.fa-instagram {
  background: black;
  color: white;
}

.fa:hover {
  opacity: 0.3;
}

.foot {
  background-color: #f0f0f0;
  height: 40px;
  width: 98%;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 35px;
  padding-right: 0px;
}
